
 a
,p
{
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

nav
{
    background-color: #ffffff;
}

nav a.navbar-brand img
{
    width: 190px;
    height: 45px;
}

header
{
    margin: 80px 0;
}

section.about 
{

}

section.about .banner
{
    background-color: lightblue;
    text-align: center;
    height: 200px;
}

section.about .banner h2
{
   
}

section.about .banner p
{
    
}